# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environment
MTNM/
env/
ENV/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files (you might want to exclude large datasets)
preprocessing/*.csv

# Logs and temporary files
*.log
*.tmp

# OS files
.DS_Store
Thumbs.db

# IDE/editor folders
.vscode/
.idea/

#json files
*.jsonl
*.json

#mlrun
mlruns/

*.txt
*.safetensors
Model_dir/